<h2>Here are the matching result of students!</h2>
  <div class="panel-body">
    <%= render 'form' %>
  </div>

  <h2><%= @match.day %></h2>
  <table class="table table-striped table-bordered">
    <% @matches.each do |match| %>
    <tr>
      <td><%= match.id %></td>
      <% match.matches.each do |group| %>
       <td><%= group.join(" & ") %></td>
      <% end %>
    </tr>
    <% end %>
</table>
